<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>635990075264-trtpduv0q2lb71vru8vg4e5t5c6gl3pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635990075264-trtpduv0q2lb71vru8vg4e5t5c6gl3pi</string>
	<key>API_KEY</key>
	<string>AIzaSyDvs6qH4Jvs5arhsfSTCuaEm48UoPgaSSk</string>
	<key>GCM_SENDER_ID</key>
	<string>635990075264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SignUpPrototype.Nagiz</string>
	<key>PROJECT_ID</key>
	<string>signupprototype-eceb0</string>
	<key>STORAGE_BUCKET</key>
	<string>signupprototype-eceb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635990075264:ios:ff2e582a531ba3b4</string>
	<key>DATABASE_URL</key>
	<string>https://signupprototype-eceb0.firebaseio.com</string>
</dict>
</plist>